
.DS_Store
*.xcworkspacedata
*.plist
*.xcuserstate
/VideoGameCollection.xcodeproj/xcuserdata
/VideoGameCollection.xcodeproj/xcshareddata
VideoGameCollection.xcodeproj/xcshareddata/xcschemes/VideoGameCollection.xcscheme
*.xcscheme
